.header {
  background-color: rgba(255, 107, 107, 1);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 42px;
  padding: 8px;
  padding-left: 0;
  line-height: 16px;
  border-bottom: 1px solid var(--red);

 }

 .header .top-buttons {
   display: flex;
   margin-bottom: -1px;
  /* border-left: 1px solid var(--background); */
   margin-left: 8px;
   padding-left: 8px;
   margin-right: 5px;
   padding-right: 5px;
 }

 .logo {
   display: flex;
   padding: 5px;
   padding-top: 4px;
   padding-left: 10px;
   align-items: center;
   margin-bottom: -1px;
 }

 .logo.top-logo {
   height: 32px;
 }

 .logo.top-text {
   padding-left: 3px;
   height: 18px;
 }

 .btn.login {
  color: rgba(255, 107, 107, 1);
  background-color: var(--yellow);
  border: 1px solid rgba(242, 220, 111, 1);
 }

 .btn.signup {
   color: rgba(255, 107, 107, 1);
   background-color: rgba(242, 220, 111, 1);
 }

 .btn.login:hover {
   color: var(--background);
   border: 1px solid rgba(242, 220, 111, 1);
 }

 .btn.signup:hover{
   color: var(--background);
 }

 .btn {
  display: block;
  font-weight: 700;
  box-sizing: border-box;
  border: 1px solid transparent;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px;
  line-height: 24px;
  padding: 3px 2.7em 3px;
  font-size: 13px;
  font-weight: 700;
  margin: 25px 5px 0px 5px;
  border-radius: 12px;
  outline: 0;
  cursor: pointer;
}

.dropdown-btn {
  border: 1px solid var(--yellow);
  background-color: var(--yellow);
  border-radius: 12px;
  box-sizing: border-box;
  margin-right: 30px;
  padding-right: 5px;
  margin-top: 15px;
  overflow: visible;
  position: relative;
  display: inline-block;
  width: 180px;
  outline: 0;
  cursor: pointer;
}

.grid {
  display: inline-grid;
  width: 170px;
  margin-top: 2px;
  grid-template-columns: 30px auto auto 30px;
  grid-template-rows: auto;
  padding: 5px;
}

.dropdown-content {
  position: absolute;
  box-sizing: border-box;
  margin-top: -5px;
  width: 180px;
  background-color: #FFF;
  box-shadow: 5px 15px 31px -11px #EAEAEA;
  z-index: 1;
  border-radius: 4px;
  border: 1px solid var($color2);
  border-top: none;
  display: block;
}

.dropdown-content div {
  text-decoration: none;
}

.dropdown-icon {
  width: 25px;
  height: 25px;
  text-align: center;
}


.dropdown-icon.left {
  padding-right: 10px;
  padding-top: 5px;
  grid-column-start: 1;
  grid-row-start: 1;
  color: var(--red);
 
}

.dropdown-icon.right{
  grid-column-start: 4;
  grid-row-start: 1;
}


.dropdown-greet {
  grid-column-start: 2;
  grid-row-start: 1;
  text-align: center;
  padding: 5px 2px 2px 2px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  white-space: nowrap;
  text-transform: lowercase;
  pointer-events: none;
  color: var(--red);
}

svg.btn-fill {
  fill: var(--red);
}


.dropdown-item {
  color: var(--red);
  display: flex;
  flex-direction: row;
  background-color: var(--yellow);
  fill: var(--red);
  padding: 10px 16px 10px 16px;
  align-items: center;
  font-size: 14px;  
}

.logout {
  border-top: 1px solid var($color2);
  cursor: pointer;
}
.dropdown-item:hover {
 /* background-color: var($color2);
  border-color: var($color2); */
  color: var(--background);
  fill: var(--background);
}

.logout-btn {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.logout-text{
  display: inline-block;
  padding: 0 0 0 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: capitalize;
}

.yellow-stripe {
  background-color: var(--yellow);
  width: 100%;
  margin-top: -10px;
  display: block;
  height: 16px;
}
