:root {
  --darkblue: rgba(44, 85, 91, 1);
  --lightblue: rgba(116, 204, 198, 1);
  --background: rgba(234, 255, 234, 1);
  --red: rgba(255, 107, 107, 1);
  --yellow: rgba(242, 220, 111, 1);
}

body {
  font-family: 'Raleway', sans-serif !important;
  background-color: var(--background) !important;
  overflow-x: hidden;
}

h1 {
  font-family: 'Shadows Into Light', cursive;
}

.content {
  display: flex;
  flex-direction: column;
}

.footer-content {
  display: block;
  width: 100%;
  min-height: 68px;
  background-color: var(--lightblue);
}

.footer {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.bottom {
  display: block;
  width: 100%;
  min-height: 36px;
  background-color: var(--darkblue)
}

