:root {
  $color1: rgba(44, 85, 91, 1);
  $color2: rgba(116, 204, 198, 1);
  $color3: rgba(234, 255, 234, 1);
  $color4: rgba(255, 107, 107, 1);
  $color5: rgba(242, 220, 111, 1);
}

body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Shadows Into Light', cursive;
}

