:root {
  --darkblue: rgba(44, 85, 91, 1);
  --lightblue: rgba(116, 204, 198, 1);
  --background: rgba(234, 255, 234, 1);
  --red: rgba(255, 107, 107, 1);
  --yellow: rgba(242, 220, 111, 1);
}

body {
  font-family: 'Raleway', sans-serif !important;
  background-color: var(--background) !important;
}

h1 {
  font-family: 'Shadows Into Light', cursive;
}

